/* ===================== HEADER ========================= */
.header-inicio {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background-color: var(--vermelho);
  background-size: 30px 30px;
  color: white;
  padding: 4px 8px;
  text-align: center;
  border-bottom: 5px solid var(--preto);
}

.header-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 10px;
  padding: 3px 6px;
}

.logo {
  height: 55px;
  width: auto;
}

.botao-header {
  display: flex;
  align-items: center;
  background: transparent;
  border: none;
  gap: 16px;
}

.botao-historico {
  display: flex;
  align-items: center;
}

.svg-historico,
.svg-sair {
  width: 24px;
  height: 24px;
  stroke: white;
  stroke-width: 2px;
}

.botao-sair {
  display: flex;
  align-items: center;
}

.botao-sair,
.botao-historico {
  padding: 0;
  align-items: center;
  background: transparent;
  border: none;
  color: white;
  cursor: pointer;
}

/* ======================== AVISO ======================= */
.aviso {
  background-color: var(--amarelo);
  margin: 0.3.5rem 0 0 0;
  padding: 18px 20px;
  text-align: center;
}

.aviso h2 {
  display: block;
  opacity: 1;
  margin: 0;
  font-size: 1.1rem;
  font-family: "Poppins", sans-serif;
}

/* ===================== TITULO ======================== */
.titulo-cardapio {
  text-align: center;
  color: var(--branco);
  font-size: 18px;
  margin-top: 25px;
  margin-bottom: 10px;
}

.titulo-cardapio h1 {
  /* color: red !important; */
  font-weight: 700 !important;
  font-family: var(--font-principal);
}

.titulo-cardapio h1 {
  margin-bottom: 14px;
}

.linha {
  border: none;
  background-color: var(--branco);
  border-top: 2px solid var(--branco);
  border-radius: 5rem;
  margin: 0 auto;
  width: 15rem;
  height: 0.6rem;
}

/* =====================CATEGORIA======================== */
.categoria-titulo {
  display: flex;
  gap: 10px;
  margin-top: 0.2rem;
  margin-bottom: 1.3rem;
}

.categoria-img {
  display: flex;
  align-items: center;
  margin: auto 0;
}

.categoria-img img {
  height: 3rem;
  width: 3rem;
}

.titulo-categoria {
  display: flex;
  align-items: center;
  font-weight: 200;
  text-transform: uppercase;
  font-size: 24px;
  margin: 0;
}

strong {
  color: var(--preto);
}

/* =====================PRODUTOS======================== */
.container {
  max-width: 900px;
  margin: 0 auto 0 auto; /* margin que separa o header do conteúdo */
  padding: 20px;
  font-weight: bold;
}

.titulo-categoria {
  font-weight: 200;
  text-transform: uppercase;
}

.categoria-box {
  background: white;
  border: 4px solid var(--preto);
  border-radius: 15px;
  padding: 20px;
  margin-bottom: 30px;
  /* box-shadow: 8px 8px 0 var(--preto); */
}

.categoria-box h3 {
  color: var(--vermelho);
}

.item-row {
  display: flex;
  justify-content: space-between;
  font-weight: bold;
  font-size: 1.1rem;
}

.btn-add-main {
  width: 100%;
  background: var(--vermelho);
  border: 2px solid var(--preto);
  padding: 10px 0;
  border-radius: 8px;
  cursor: pointer;
  margin-top: 25px;

  color: var(--branco);
  font-weight: 100;
  letter-spacing: 0.8px;
  font-size: 16px;
  font-family: var(--font-principal);
}

.button-categoria {
  letter-spacing: 0.5px;
  font-weight: 100;
}

/* =============== INFORMAÇOES ADICIONAIS =============== */
.container-info {
  padding: 24px 0;
  /* background-color: var(--vermelho); */
  margin: auto;
}

.titulo-info {
  text-align: center;
  color: white;
  font-size: 32px;
  /* margin-bottom: 30px; */
  letter-spacing: 2px;
  margin-bottom: 20px;
}

.card-info {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0 24px;
}

.card {
  display: flex;
  flex-direction: column;
  align-items: center;
  background: white;
  border: 4px solid black;
  border-radius: 20px;
  padding: 1.5rem;
  margin-bottom: 30px;
  text-align: center;
  width: 100%;
  /* gap: 10px; */
}

.card p {
  margin: 0;
  margin-top: 10px;
}

.svg-info {
  width: 50px;
  height: 50px;
  /* margin-bottom: 10px; */
}

.card h2 {
  margin: 0;
  font-size: 24px;
  color: red;
}
