/* =============== BARRA DE NAVEGAÇÃO ============== */
.topbar {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 4.4rem;
  background: var(--vermelho);
  color: white;

  display: flex;
  align-items: center;
  justify-content: space-between;
  z-index: 1000;

  border-bottom: 5px solid var(--cinza);
}

.btn-back {
  background: none;
  border: none;
  cursor: pointer;
  align-content: center;
  padding: 10px;
}

.voltar {
  margin-top: 5px;
}

.titulo-topbar {
  text-align: center;
  font-weight: lighter;
  font-size: 1.4em;
}

.botao-carrinho-produtos {
  display: flex;
  align-items: center;
  padding: 0 10px;
  gap: 1.2rem;
  margin-right: 0.6rem;
}

/* =================== MODAL DE PRODUTO =========================  */

.modal {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.6);
  z-index: 2000;
  justify-content: center;
  align-items: center;
}

.container-fechar {
  display: flex;
  justify-content: flex-end;
  height: 5px;
}

.botao-fechar {
  position: relative;
  bottom: 8px;
  right: 4px;
  left: 1em;
  color: white;
  border: 0;
  padding: 2px 6px;
  font-weight: bold;
  border-radius: 8px;
  cursor: pointer;
  background: var(--branco);
  display: flex;
}

path.x-icon {
  stroke: rgba(186, 186, 186, 0.885);
  stroke-width: 3px;
}

#m-nome {
  font-size: 1.5rem;
  font-weight: 200 !important;
  margin-bottom: 10px;
  font-family: "Fredoka One", sans-serif;
  color: var(--vermelho) !important;
}

#m-nome-bebida {
  font-weight: 100;
  color: var(--vermelho);
  margin: 0;
}

#m-desc {
  font-size: 0.95rem;
  color: #555;
  margin: 5px auto 12px auto;
}

.modal-content {
  background: white;
  width: 95%;
  max-width: 450px;
  padding: 25px;
  border-radius: 20px;
  border: 4px solid var(--preto);
  max-height: 90vh;
  overflow-y: auto;
}

.quantidade-produto {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0;
}

.modal-quantidade-produto {
  display: flex;
  text-align: center;
}

#m-qtd-val {
  font-size: 16px;
  font-weight: 700;
  text-align: center;
  color: var(--preto);
  margin: 0;
  width: 31px;
}

.quantidade {
  font-size: 18px;
  font-weight: 200;
}

.btn-qtd {
  width: 32px;
  height: 32px;
  border: 0px;
  background: rgba(128, 128, 128, 0.272);
  font-weight: bold;
  font-size: 20px;
  cursor: pointer;
  border-radius: 6px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0 0 3px 0;
}

/* SEÇÃO ADICIONAIS */
.adicionais-container {
  margin: 20px 0;
  border-top: 2px dashed #ddd;
  padding-top: 15px;
}
.add-item-row {
  display: flex;
  justify-content: space-between;
  text-align: center;
  align-items: center;
  margin-bottom: 12px;
  padding: 5px 0;
}

.add {
  font-size: 18px;
  font-weight: 200;
}

.add-nome {
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}

.add-info {
  flex: 1;
}
.add-nome {
  font-weight: bold;
  display: block;
}
.add-preco {
  font-size: 0.85rem;
  color: #666;
}

.qtd-control {
  display: flex;
}

#qtd-add-queijo,
#qtd-add-ovo,
#qtd-add-carne {
  width: 2em;
  text-align: center;
  font-weight: 100;
}

/* BEBIDAS */
.opcao-bebida {
  display: flex;
  justify-content: space-between;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 8px;
  margin-bottom: 8px;
  cursor: pointer;
}

.tamanho {
  font-size: 18px;
  font-weight: 200;
  margin: 10px 0;
}

.opcao-bebida.ativo {
  border-color: red;
  background: #ffeaea;
}

.btn-bebidas {
  margin-top: 16px !important;
}

/* OBSERVAÇÃO */
#m-obs {
  width: 100%;
  height: 80px;
  padding: 12px;
  border: 2px solid var(--preto);
  border-radius: 10px;
  margin-top: 5px;
  margin-bottom: 10px;
  resize: none;
}

.obsevacao {
  font-size: 18px;
  font-weight: 200;
}

/* Sub-Total */
.subtotal-tag {
  display: flex;
  background: #fff9c4;
  border: 2px solid var(--amarelo);
  padding: 15px;
  border-radius: 10px;
  margin: 15px 0;
  font-size: 1.1rem;
}

.subtotal-tag p,
#m-subtotal {
  font-family: var(--font-secundaria);
  font-weight: 600;
}

#m-subtotal {
  margin: 0 0 0 2px;
}

.add-carrinho {
  width: 100%;
  padding: 10px 0;
  border-radius: 8px;
  background-color: var(--vermelho);
}

.add-carrinho-text {
  color: var(--branco);
  font-weight: 100;
  letter-spacing: 0.8px;
  font-size: 16px;
  font-family: var(--font-principal);
}

/* =====================PRODUTOS======================== */
.container {
  max-width: 900px;
  margin: 0 auto; /* margin que separa o header do conteúdo */
  padding: 20px 18px;
  font-weight: bold;
}

.categoria-box {
  background: var(--vermelho);
  border: 4px solid var(--preto);
  border-radius: 15px;
  padding: 30px 20px;
  margin-bottom: 30px;
}

.categoria-box h3 {
  color: var(--branco);
}

.linha-produtos {
  border: none;
  background-color: var(--cinza);
  border-top: 2px solid var(--cinza);
  margin: 1.8em auto;
  width: 18rem;
  height: 0.1rem;
}

.item-row {
  display: flex;
  justify-content: space-between;
  align-items: center;
  text-align: center;
  font-weight: bold;
  font-size: 1.1rem;
  margin-bottom: 16px;
}

.titulo-produto {
  font-size: 1.3em;
  font-weight: 100;
  text-transform: capitalize;
  text-align: left;
  font-family: var(--font-principal);
  line-height: 1.1em;
}

.preco {
  font-weight: 100;
  letter-spacing: 0.8px;
  color: var(--vermelho);
}

.ingredientes {
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 700;
  font-size: 14px;
  color: #666;
}

/* ===================== CARRINHO ======================== */
.carrinho {
  margin-left: -20px !important; /* important para priorizar essa linha */
}
