@import url("https://fonts.googleapis.com/css2?family=Fredoka+One&display=swap");

@import url("inicio.css");
@import url("produtos.css");
@import url("responsivo.css");

:root {
  --vermelho: red;
  --amarelo: #ffd700;
  --fundo: #fff5f5;
  --preto: #000000;

  --font-principlal: "Fredoka One", sans-serif;

  --font-sans:
    ui-sans-serif, system-ui, sans-serif, "Apple Color Emoji", "Segoe UI Emoji",
    "Segoe UI Symbol", "Noto Color Emoji";
  --font-mono:
    ui-monospace, SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono",
    "Courier New", monospace;
}

* {
  box-sizing: border-box;
  font-family: var(--font-principlal);
  text-decoration: none;
}

body {
  margin: 0;
  padding-bottom: 100px;
  padding-top: 4.3rem; /* Ajuste para a altura da topbar */
}
