@import url("https://fonts.googleapis.com/css2?family=Fredoka+One&display=swap");

@import url("inicio.css");
@import url("produtos.css");
@import url("responsivo.css");

:root {
  --branco: #fff;
  --vermelho: red;
  --amarelo: #ffd700;
  --fundo: #fff5f5;
  --preto: #000000;
  --cinza: oklch(92.8% 0.006 264.531);
  --cinza-2: oklch(69.306% 0.00152 285.587);

  --font-principal: "Fredoka One", sans-serif;
  --font-secundaria: "Poppins", sans-serif;
  --font-sans:
    ui-sans-serif, system-ui, sans-serif, "Apple Color Emoji", "Segoe UI Emoji",
    "Segoe UI Symbol", "Noto Color Emoji";
  --font-mono:
    ui-monospace, SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono",
    "Courier New", monospace;
}

* {
  box-sizing: border-box;
  font-family: var(--font-principal);
  text-decoration: none;
  margin: 0;
}

body {
  height: 100%;
  margin: 0;
  /* padding-bottom: 100px; */
  padding-top: 4.3rem; /* Ajuste para a altura da topbar */
}

/* =============== ICON DO CARRINHO =============== */
.footer-btn {
  position: fixed;
  bottom: 0;
  width: 100%;
  padding: 15px;
  text-align: end;
  margin: 0;
}

.btn-carrinho {
  background: var(--vermelho);
  color: white;
  font-size: 17px;
  border: 2px solid var(--preto);
  border-radius: 80%;
  padding: 14px 8px;
  font-weight: bold;
  cursor: pointer;
  height: 4.2rem;
  width: 4.2rem;
  margin-bottom: 16px;
}

/* =============== MODAL DO CARRINHO =============== */
.cart-sidebar {
  display: flex;
  flex-direction: column;
  position: fixed;
  top: 0;
  right: -100%;
  width: 100%;
  max-width: 480px;
  height: 100%;
  background: white;
  z-index: 3000;
  transition: 0.3s;
  padding: 20px;
  overflow-y: auto;
  border-left: 5px solid var(--preto);
}

.carrinho-titulo {
  text-transform: uppercase;
  font-weight: 300;
  letter-spacing: 1px;
  margin: 16px auto;
  justify-content: center;
  color: var(--vermelho);
}

.cart-sidebar.active {
  right: 0;
}

input,
select,
textarea {
  width: 100%;
  padding: 12px;
  border: 2px solid var(--preto);
  border-radius: 10px;
  margin-top: 5px;
  /* margin-bottom: 10px; */
}

/* =============== FOOTER =============== */
footer {
  margin-top: 20px;
}

/* =============== CARRINHO =============== */
#lista-carrinho {
  border-bottom: 3px solid var(--amarelo);
}

.cart-item-card {
  border: 3px solid var(--preto);
  border-radius: 12px;
  padding: 16px;
  margin-bottom: 16px;
}

.header-card {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 0.3em;
}

.carrinho-nome-produto {
  font-size: 18px;
  font-weight: 100;
}

.carrinho-subtotal-produto {
  color: var(--vermelho);
  font-size: 14px;
  font-weight: 800;
  font-family: var(--font-secundaria);
}

.carrinho-nome-produto,
.carrinho-subtotal-produto {
  margin: 0;
}

.botoes-add-obs {
  display: flex;
  flex-direction: column;
  gap: 8px;
  margin-left: 6px;
  font-size: 12px;
  font-weight: 100;
  margin-bottom: 1.5em;
}

.carrinho-adicional,
.carrinho-obs {
  margin: 0;
  font-family: math;
  text-transform: inherit;
}

/* Quantidade */
.carrinho-card-footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0;
}

.carrinho-quantidade-produto {
  display: flex;
  text-align: center;
}

.botao-menos,
.botao-mais {
  background: oklch(92.8% 0.006 264.531);
  border: 0;
  border-radius: 10%;
}

.botao-menos-svg,
.botao-mais-svg {
  display: flex;
  stroke-width: 50px;
  margin: 2px auto;
  /* stroke: 10px !important; */
}

.numero-qtd {
  font-size: 16px;
  font-weight: 700;
  text-align: center;
  color: var(--preto);
  margin: 0;
  width: 31px;
  height: 23px;
}

/* LIXEIRA */
.botao-excluir {
  display: flex;
  background: none;
  border: 0;
}

.lixeira {
  fill: var(--preto);
  background: none;
}

.lixeira path {
  fill: var(--vermelho);
}

/* TOTAL */
.pedido-total {
  display: flex;
  opacity: 1;
  text-align: center;
  align-items: center;
  justify-content: space-between;
  font-family: var(--font-secundaria);
  font-size: 18px;
  font-weight: 700;
  margin: 12px 0 20px 0;
}

.total,
#total-final {
  font-family: var(--font-secundaria);
  font-size: 22px;
  font-weight: 900;
  color: var(--vermelho);
}

/* =============== DADOS CLIENTE =============== */
.dados-cliente {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.titulo-dados {
  font-weight: 100;
}

.dados {
  margin-bottom: 8px;
}

/* ========= FORMA DE PAGAMENTO ========== */
.select-custom {
  position: relative;
  width: 100%;
  cursor: pointer;
}

.selected {
  display: flex;
  justify-content: space-between;
  width: 100%;
  padding: 12px;
  font-family: var(--font-secundaria);
  color: var(--cinza-2);
  font-weight: 600;
  border: 2px solid var(--preto);
  border-radius: 10px;
  margin-top: 5px;
}

.bi {
  margin-bottom: -3px;
}

.options {
  position: absolute;
  width: 100%;
  border: 1px solid var(--preto);
  /* border-top: none; */
  margin-top: -5.5px;
  background: white;
  display: none;
  z-index: 10;
}

.options div {
  padding: 10px;
  font-family: var(--font-secundaria);
  font-weight: 600;
  border: 0.5px solid var(--cinza);
}

.options div:hover {
  background: #f0f0f0;
}

/* quando aberto */
.select-custom.active .options {
  display: block;
}

.finalizar-pedido {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  text-align: center;
}
/* finalizar é voltar*/
.voltar-carrinho,
.botao-finalizar {
  width: 100%;
  border-radius: 5px;
  border: 2px solid var(--preto);
  padding: 15px 0;
  font-family: var(--font-principal);
  font-weight: 100;
  letter-spacing: 0.2px;
}

.voltar-carrinho {
  color: var(--preto);
  background-color: rgba(189, 189, 189, 0.457);
}

.botao-finalizar {
  color: var(--fundo);
  background-color: var(--vermelho);
}
